<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/Metro/metro.min.css">
    <link rel="stylesheet" href="stylesheets/Metro/metro-icons.min.css">
    <link rel="stylesheet" href="stylesheets/Draft/Rich.css">
    <link rel="stylesheet" href="stylesheets/Draft/Draft.css">

    <title><%= title %></title>

    <script src="javascripts/jQuery/jquery-3.2.0.min.js"></script>
    <script src="javascripts/Metro/metro.min.js"></script>

</head>
<body>

<div class="container">
    <div align="center">
        <br>
        <h1>Welcome to <%= title %></h1>
        <br>
    </div>

    <div class="grid">
        <div class="cells2">
            <div class="cell">
                <div id="dratf_text_area">

                </div>
            </div>
            <br>
            <div class="cell" align="center">
                <button class="image-button" id="btn_submit">
                    <span style="font-size: 18px">此按钮什么用都没有</span>
                    <span class="icon mif-expand-less fg-white bg-black"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="javascripts/Draft/bundle.js"></script>

</body>
</html>
