<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/Metro/metro.min.css">
    <link rel="stylesheet" href="stylesheets/Metro/metro-icons.min.css">
    <title><%= title %></title>

    <script src="javascripts/jQuery/jquery-3.2.0.min.js"></script>
    <script src="javascripts/Metro/metro.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn_medium_editor").click(function () {
                window.location.href = "/medium_editor"
            });
            $("#btn_draft").click(function () {
                window.location.href = "/draft"
            });
        })
    </script>

</head>
<body>
<div class="container">
    <div align="center">
        <br>
        <h1><%= title %></h1>
        <h3>Welcome to <%= title %></h3>
        <br>
    </div>


    <div class="grid">
        <div class="row cells2" align="center">
            <div class="cell">
                <button class="image-button" id="btn_medium_editor">
                    <span style="font-size: 18px">medium editor Demo</span>
                    <span class="icon mif-file-text fg-white bg-black"></span>
                </button>
            </div>
            <div class="cell">
                <button class="image-button" id="btn_draft">
                    <span style="font-size: 18px">draft Demo</span>
                    <span class="icon mif-file-text fg-white bg-black"></span>
                </button>
            </div>
        </div>
    </div>
</div>




</body>
</html>